# mac-osx files
.DS_store
profile

# visual-studio files
*.ncb
*.suo
*.vcproj.*.user
*.pdb
*.idb

# xcode files
PLBlocks.framework/*
*.pbxuser
*.mode1v3
*~.nib/ 
*.perspective 
*.perspectivev3
xcuserdata/

# gcc files
*.gch

# exvim files 
*.err
*.exvim
*.vimentry
*.vimproject
.exvim.*/

# project files
_bin/
_build/
_ext_build/
_log/
